.resister form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.resister form input {
    padding-top: 10px;
    padding-bottom: 10px;
}
.resister form input, textarea {
    width: 50%;
    margin-bottom: 10px;
}