.footer-container{
    background-color: rgb(29, 29, 29);
    color: rgb(212, 212, 212);
}
.text-color {
    color: rgb(212, 212, 212);
}
.text-color:hover {
    color: rgb(212, 212, 212);
}
.button {
    border: none;
    padding: 7.5px 15px;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.4s;
    color: white;
    background-color: rgb(29, 29, 29);
}
.button:hover {
    transform: scale(1.05);
}
.button2 {
    border: none;
    padding: 7.5px 15px;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.4s;
}
.button2:hover {
    transform: scale(1.05);
}